
a{
  color: lightblue;
}
div.gallery {
  margin: 5px;
  float: left;
  width: 24.2%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 150px;
}

div.desc {
  padding: 10px;
  margin: 10px
  text-align: center;
}

h1{
  text-align: center;
  padding: 20px;
  margin: 30px;
}
